body {
	background-color: #fed;
	color: black;
	font-family: Arial, sans-serif;
}

a:hover {
	filter: invert(30%);
}

a.current {
	font-weight: bold;
}

iframe {
	width: 100%;
}

img {
	background-color: transparent;
}

h2 {
	text-align: center;
}

header {
	
}

nav {
	/* background: linear-gradient(to bottom, #d2c496 80%, #fed 80% 100%); */
	background-color: #d2c496;
	color: black;
	/* min-height: calc(3.5rem + 2px); */
	height: max-content;
	position: relative;
	text-align: center;
}

nav ul {
	background-color: #d2c496;
	list-style: none;
	margin-top: 0;
	
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 0;
}

nav ul li {
	display: inline-block;
	margin: 1.5rem 0;
}

nav a {
	border: 1px solid black;
	color: black;
	padding: 0.5rem;
}

main {
	margin: 0;
	padding: 0 1rem;
}

#name {
		text-align: center;
}

#name * {
	margin: 0;
	padding: 0;
}

.bold {
	font-weight: bold;
}

.constrict {
	max-width: 700px;
	margin: 1rem auto;
}

.dropdown {
	background-color: transparent;
	
	width: 0;
	height: 0;
	display: inline-block;
	
	margin-left: 0.2rem;
}

.dropdown[collapsed="true"] {
	border-top: 0.5rem solid black;
	border-right: 0.3rem solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 0.3rem solid transparent;
}

.dropdown[collapsed="false"] {
	border-left: 0.5rem solid black;
	border-top: 0.3rem solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 0.3rem solid transparent;
}

.dropdownMenu {
	position: absolute;
}

.italic {
	font-style: italic;
}

.logo {
	display: block;
	/* height: 7rem; */
	margin: 0 auto;
	width: max(10vw, 200px);
}

.underline {
	text-decoration: underline;
}

.slogan {
	background-color: #d2c496a0;
	border: 2px solid #d2c496;
	/* display: inline-block; */
	font: italic bold 200% cursive;
	padding: 1rem 2rem;
	margin: 1rem auto;
	text-align: center;
	width: 200px;
}

.split {
	display: flex;
	justify-content: space-between;
}

.super {
	font-variant: super;
}