body {
/* 	background-color: #fed; */
	background-color: white;
	color: black;
	font-family: Arial, sans-serif;
}

a:hover {
	filter: invert(30%);
}

fieldset {
	margin: 0.2rem auto;
	text-align: left;
	width: fit-content;
}

fieldset label {
	text-align: left;
	width: auto;
}

h2 {
	text-align: center;
}

header {
	text-align: center;
}

iframe {
	width: 100%;
}

input {
	margin: 0.2rem 0;
	vertical-align: middle;
}

img {
	background-color: transparent;
}

label {
	display: inline-block;
	margin: 0.2rem;
	vertical-align: middle;
	width: min(50%, 180px);
	text-align: right;
}

ol ul {
	list-style: none;
}

nav {
	/* background: linear-gradient(to bottom, #e8e2cc 80%, #fed 80% 100%); */
	background-color: white;
	color: black;
	/* min-height: calc(3.5rem + 2px); */
	height: max-content;
	position: relative;
	text-align: center;
}

nav ul {
	background-color: #e8e2cc;
	list-style: none;
	margin: 0;
	padding-bottom: 1rem;
	
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 0;
}

nav ul li {
	display: inline-block;
	margin: 1.5rem 0 0;
}

nav a {
	border: 1px solid black;
	color: black;
	padding: 0.5rem;
}

main {
	margin: 0;
	padding: 0 1rem;
}

#gallery {
	text-align: center;
}

#gallery * {
	display: inline-block;
	width: max(200px, 45%);
	max-width: 600px;
	margin: 5px;
}

#name {
	text-align: center;
}

#name * {
	margin: 0;
	padding: 0;
}

.bold {
	font-weight: bold;
}

.constrict {
	max-width: 700px;
	margin: 1rem auto;
}

.current {
	font-weight: bold;
}

.ddMenu {
	background: #e8e2cc;
	color: black;
	position: absolute;
}

.ddMenu * {
	display: block;
}

.ddIcon {
	display: inline-block;
}

.ddIcon[collapsed="true"] {
	border-top: 0.5rem solid black;
	border-right: 0.3rem solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 0.3rem solid transparent;
}

.ddIcon[collapsed="false"] {
	border-left: 0.5rem solid black;
	border-top: 0.3rem solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 0.3rem solid transparent;
}

.dropdownMenu {
	position: absolute;
}

.italic {
	font-style: italic;
}

.logo {
	margin: 0 auto;
	width: max(10vw, 200px);
}

.underline {
	text-decoration: underline;
}

.slogan {
	background-color: #e8e2cca0;
	border: 2px solid #e8e2cc;
	/* display: inline-block; */
	font: italic bold 200% cursive;
	padding: 1rem 2rem;
	margin: 1rem auto;
	text-align: center;
	width: 200px;
}

.split {
	display: flex;
	justify-content: space-between;
}

.super {
	vertical-align: super;
    font-size: 80%;
}
